
<div class="container-fluid work-list-filters">

  <div class="row">
  <div class="col-sm-6 filters">
    <span>
      Search: &nbsp;
      <input ng-model="$ctrl.query.name" />
    </span>
    <span>
      Sort by: &nbsp;
      <select ng-model="$ctrl.orderProp">
        <option value="name">Alphabetical</option>
        <option value="-name">Alphabetical (Reverse)</option>
      </select>
    </span>
  </div>
  <div class="col-sm-6 add-button">
    <div>
      <a href="#!/works/new">+ Add</a>
    </div>
  </div>
  </div>
</div>

<div class="container-fluid work-list">

  <div class="row" ng-repeat="work in $ctrl.works | filter:$ctrl.query | orderBy:$ctrl.orderProp">
    <div class="col-sm-6 work-name">
      <a href="#!/works/{{ work.id }}">{{work.name}}</a>
      <small>({{ $ctrl.is_done(work) }})</small>
    </div>
    <div class="col-sm-6 word-count">
      <div class="word-count-number">{{ work.word_count }}/{{ work.word_target }} words ({{ $ctrl.words_to_time(work.word_count) }})</div>
      <div class="sparklines" id="sparkline-{{ work.id }}" values="{{ $ctrl.sparkline(work) }}"></div>

    </div>

    <span ng-show="{{ $ctrl.showsparklines(work) }}"></span>
  </div>

</ul>


</div>
