<div class="container-fluid work-detail">

  <div class="row top-row">
    <div class="col-sm-6 work-name">
      <h1>{{ work.name }}</h1>
    </div>
    <div class="col-sm-6 word-counts">
      <span class="word-count">
        {{ work.word_count }}/{{ work.word_target }} words ({{ work.word_count | words_to_time }})
      </span>
      <span>
        <button type="button" class="btn btn-primary btn-sml" data-toggle="modal" data-target="#detail_modal">
          Edit Details
        </button>
        <button type="button" class="btn btn-primary btn-sml" data-toggle="modal" data-target="#wordcount_modal">
          Update Count
        </button>
      </span>
    </div>
  </div>


  <div class="row">

    <div class="col-sm-7">

      <div id="graph" style="width: 100%; height: 500px"></div>

    </div>
    <div class="col-sm-5">

      <div class="container-fluid stat-box">


        <div class="row">
          <div class="col-sm-8 stat-title">
            Words until Target
          </div>
          <div class="col-sm-4 stat-value">
            {{ dailies.stats.until_target }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 stat-title">
            Best day:
          </div>
          <div class="col-sm-4 stat-value">
            {{ dailies.stats.best_day }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 stat-title">
            Words per Day
          </div>
          <div class="col-sm-4 stat-value">
            {{ dailies.stats.words_per_day }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 stat-title">
            Words per Writing Day
          </div>
          <div class="col-sm-4 stat-value">
            {{ dailies.stats.words_per_writing_day }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 stat-title">
            Writing Days to hit Target
          </div>
          <div class="col-sm-4 stat-value">
            {{ dailies.stats.writing_days_until_target }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 stat-title">
            At this pace, you'll finish on
          </div>
          <div class="col-sm-4 stat-value">
            {{ dailies.stats.finished_at_pace }}
          </div>
        </div>

      </div>

    </div>

  </div>

  <form novalidate>
    <!-- Modal -->
    <div class="modal fade" id="wordcount_modal" tabindex="-1" role="dialog" aria-labelledby="wcModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="wcModalLabel">Update your word count</h4>
          </div>
          <div class="modal-body">
            <div>
              <textarea id="wc_input" placeholder="Paste your work here, and we'll calculate the word count! (We don't save what you paste, though.)"></textarea>
            </div>
            <div>
              <label>Words: <input type="number" id="wc_number" value="{{ work.word_count }}"></label> <label>of <input type="number" id="wc_target" value="{{ work.word_target }}"></label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" ng-click="update()" value="Save">
          </div>
        </div>
      </div>
    </div>
  </form>

  <script>
    $('#wordcount_modal').on('shown.bs.modal', function () {
      $('#wc_input').val("");
      $('#wc_input').focus();
    });

    Countable.live($('#wc_input').get(0), function(counter) {
      console.log(counter);
      if (counter.words > 0) {
        $('#wc_number').val(counter.words);
      }
    });

  </script>

  <form novalidate>
    <!-- Modal -->
    <div class="modal fade" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="detailModalLabel">Update details</h4>
          </div>
          <div class="modal-body">
            <div>
              <label>Name: <input type="text" id="detail_name" value="{{ work.name }}"></label></label>
            </div>
            <div>
              <label>Completed: <input type="checkbox" ngModel="work.completed" id="detail_completed"></label></label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" ng-click="update_detail()" value="Save">
          </div>
        </div>
      </div>
    </div>
  </form>

  <script>
    $('#detail_modal').on('shown.bs.modal', function () {
      $('#detail_name').focus();
    });
  </script>

</div>
